.DS_Store
backup.txt
code/app/models/emsemble_model/cnn_model
code/app/models/emsemble_model/emsemble_model
code/app/models/emsemble_model/stopwords
code/app/models/emsemble_model/syntax_model
code/app/models/emsemble_model/tf_idf_model
code/app/models/emsemble_model/tf_idf_svm_model
code/app/models/emsemble_model/use_model
code/app/models/custom_model/
code/tmpmodel/ensemble_model_old
code/tmpmodel/ensemble_model

code/client-env
code/model-manifest.csv
code/helm_setup/custom_config.json
code/helm_setup/charts/watson-nlp-custom/values.yaml
code/helm_setup/.env
code/app/models/ensemble_model/tf_idf_model/config.yml
code/app/models/ensemble_model/cnn_model/config.yml
code/app/models/ensemble_model/config.yml
code/app/models/ensemble_model/cnn_model/artifacts/embedding.pb
code/app/models/ensemble_model/cnn_model/artifacts/model.h5
code/app/models/ensemble_model/ensemble_model/config.yml
code/app/models/ensemble_model/stopwords/config.yml
code/app/models/ensemble_model/use_svm_model/artifacts/svm.pkl
code/app/models/ensemble_model/use_svm_model/config.yml
code/app/models/ensemble_model/use_model/universal-sentence-encoder_4/variables/variables.index
code/app/models/ensemble_model/use_model/universal-sentence-encoder_4/variables/variables.data-00000-of-00001
code/app/models/ensemble_model/use_model/universal-sentence-encoder_4/saved_model.pb
code/app/models/ensemble_model/use_model/config.yml
code/app/models/ensemble_model/tf_idf_svm_model/artifacts/svm.pkl
code/app/models/ensemble_model/tf_idf_svm_model/config.yml
code/app/models/ensemble_model/tf_idf_model/artifacts/tfidf_vectorizer.pkl
code/app/models/ensemble_model/syntax_model/config.yml
code/app/models/ensemble_model/stopwords/artifacts/stopwords.txt

